@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}  

body{
    background: #e4e9f7;

}
h1{
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0,0,0,0, 0.5);
}

.form-box{
    width: 450px;
    margin: 0px 10px;
    text-align: center;
}

.form-box header{
    font-size: 25px;
    font-weight: 600px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn{
    height: 35px;
    background: rgb(56, 122, 223);
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}

.btn.login{
    text-decoration: none;

}

.btn:hover{
    opacity: 0.82;
}

.submit{
    width: 100%;
}

.link{
    margin-bottom: 15px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h3{
    text-align: left;
}

.form-box {
    position: relative; 
}

.table-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    max-width: 60%; 
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: .7;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(119,119,240,1) 35%, rgba(0,212,255,1) 100%);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
    background: #fafafa;
    text-align: center;
}

th, td {
    padding: 12px 15px;
}

th {
    background: #b3e5fc;
    text-transform: uppercase;
}

.logout-container{
    text-align: center;
}

.delete{
    height: 35px;
    background: rgb(220,20,60);
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}

.update{
    height: 35px;
    background: rgb(50,205,50);
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}

